.bg {
  width: 100%;
}

/* amiInfotech_logo 1 */

.logo1 {
  /* border: 1px solid red; */
  width: 50px;
  height: 60px;
  position: absolute;
  top: 30px;
  left: 40px;
}

#head {
  /* border: 1px solid red; */
  display: flex;
  width: 60%;
  height: 7%;
  position: absolute;
  top: 45px;
  left: 550px;
  color: white;
  font-size: large;
  justify-content: space-evenly;
}

.cont {
  /* border: 1px solid red; */
  background-color: white;
  color: darkblue;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  padding: 12px 30px 2px 30px;
  margin-top: -15px;
  margin-bottom: 10px;
}

/* business text css */

/* #text {
  width: 100%;
} */

.first {
  /* border: 1px solid red;  */
  color: white;
  position: absolute;
  /* top: 250px;
  left: 190px; */
  font-size: 85px;
  width: 350px;
  margin-top: -750px;
  margin-bottom: 10px;
  margin-left: 190px;
}

.second {
  /* border: 1px solid red; */
  color: white;
  position: absolute;
  /* top: 250px;
  left: 190px; */
  font-size: 80px;
  width: 450px;
  margin-top: -675px;
  margin-left: 190px;
}

.third {
  /* border: 1px solid red;   */
  color: white;
  position: absolute;
  /* top: 250px;
  left: 190px; */
  font-size: 50px;
  width: 700px;
  margin-top: -600px;
  margin-left: 190px;
}

#text > h3 {
  font-size: 70px;
  font-weight: 350;
}

/* Para text css */

#para {
  border: 1px solid green;
  position: absolute;
  color: white;
  width: 600px;
  margin-top: -500px;
  margin-left: 190px;
  padding-bottom: 300px;
  /* padding: 150px 50px 150px 0px; */
}


























/* default */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
